/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
@import url("https://fonts.googleapis.com/earlyaccess/cwtexyen.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

*, *:after, *:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  letter-spacing: 0.5px; }

a, a:hover {
  text-decoration: none; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #E6E6E6; }

h2 {
  display: inline-block;
  font-size: 40px;
  color: #0487cc;
  font-family: "Oswald", "cwTeXYen", sans-serif;
  margin-bottom: 80px; }

@media (min-width: 568px) {
  .container {
    max-width: 768px; } }

@media (min-width: 768px) {
  .container {
    max-width: 992px; } }

@media (min-width: 992px) {
  .container {
    max-width: 1024px; } }

.scroll-top {
  z-index: 1000;
  position: fixed;
  height: 45px;
  width: 45px;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #0487cc;
  display: none;
  text-align: center;
  padding: 14px;
  cursor: pointer; }
  .scroll-top:hover {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11); }
  .scroll-top:before {
    content: 'Top';
    font-family: "Oswald", "cwTeXYen", sans-serif;
    position: absolute;
    top: -30px;
    left: 10px;
    font-size: 14px;
    color: #0487cc;
    font-weight: bold; }

.nav {
  z-index: 100;
  background-color: #0487cc;
  font-family: "Oswald", "cwTeXYen", sans-serif;
  padding: 15px;
  text-align: center; }
  .nav li {
    width: 120px;
    float: left;
    margin: 0px 5px;
    font-size: 20px;
    border-bottom: 3px solid transparent; }
    .nav li a:hover {
      border-bottom: 3px solid #FFFFFF; }
    .nav li a {
      color: #FFFFFF; }
    @media (max-width: 767px) {
      .nav li {
        float: none;
        width: 100%;
        margin: 0;
        background-color: #0487cc;
        border-bottom: 1px solid white;
        line-height: 30px; }
        .nav li a {
          display: inline-block;
          width: 100%; } }

.nav-active {
  border-bottom: 3px solid #FFFFFF; }

@media (max-width: 767px) {
  .menu {
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    top: 31px;
    right: 0;
    left: 0;
    -webkit-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s; } }

.menu-show {
  max-height: 300px; }

.showmenu {
  display: none; }
  @media (max-width: 767px) {
    .showmenu {
      display: block; } }

section {
  background-color: #E6E6E6;
  margin-top: 50px;
  font-family: "Oswald", "cwTeXYen", sans-serif; }
  section p {
    line-height: 150%;
    font-size: 20px; }

#about {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11); }

.profile {
  padding: 30px; }
  .profile span {
    display: block; }
  .profile p {
    font-size: 18px; }

.social-link {
  text-align: center; }
  .social-link li {
    display: inline-block; }
  .social-link a {
    color: #000;
    opacity: 0.5; }

#info p {
  margin-bottom: 1.75rem; }

@media (max-width: 767px) {
  #info-name {
    text-align: center; } }

.info-list li {
  margin-bottom: 1rem; }

.info-list span {
  display: inline-block; }

.info-list-title {
  width: 40%;
  font-weight: 700;
  font-family: "Oswald", "cwTeXYen", sans-serif;
  font-size: 16px; }

#personal-photo {
  text-align: center; }
  #personal-photo img {
    max-width: 70%;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11); }
    @media (max-width: 568px) {
      #personal-photo img {
        max-width: 70%; } }
    @media (max-width: 767px) {
      #personal-photo img {
        max-width: 30%; } }

/* Skill section */
#skill h3 {
  display: inline-block;
  background-color: #0487cc;
  color: #FFFFFF;
  padding: 18px 28px;
  font-size: 20px;
  position: relative;
  font-family: "Oswald", "cwTeXYen", sans-serif;
  top: -32px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11); }

.professional-skills {
  position: absoulte; }

.skills-title {
  text-align: center; }

.skills-content.top {
  text-align: center;
  color: #0487cc;
  font-size: 24px;
  margin-bottom: 50px; }

.skills-content.bottom {
  text-align: center;
  font-size: 20px; }
  .skills-content.bottom span {
    display: block;
    margin-bottom: 12px;
    border-left: 2px solid #0487cc; }

.section-header {
  text-align: center; }

#professional-skills, #additional-skills {
  background-color: #FFFFFF;
  padding: 0px 30px 30px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
  height: 350px; }
  @media (max-width: 76px) {
    #professional-skills, #additional-skills {
      height: 100%; } }

.experience-icon {
  margin-left: 20%;
  padding: 8px;
  background-color: #FFFFFF; }
  .experience-icon i {
    color: #757575; }
  @media (max-width: 991px) {
    .experience-icon {
      margin-left: 8.5vw; } }

.experience-list {
  padding-top: 50px;
  padding-left: 25px;
  margin-left: 180px;
  border-left: 5px solid #ffffff; }
  @media (max-width: 991px) {
    .experience-list {
      margin-left: 10vw; } }

.experience-item {
  position: relative;
  padding: 30px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
  margin-top: 45px; }
  .experience-item h3 {
    color: #0487cc; }
  .experience-item h5 {
    color: #757575;
    margin-bottom: 1rem; }
  .experience-item:before {
    content: '';
    position: absolute;
    background-color: #0487cc;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    left: -34px;
    top: 15px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11); }
  @media (max-width: 991px) {
    .experience-item {
      margin-bottom: 80px; } }

.experience-period {
  display: inline-block;
  background-color: #0487cc;
  width: 180px;
  padding: 10px 0px;
  text-align: center;
  color: #FFFFFF;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
  position: absolute;
  left: -300px;
  margin-top: -30px; }
  @media (max-width: 991px) {
    .experience-period {
      left: 0px;
      top: -25px; } }

#event {
  text-align: center;
  position: relative; }

.event-img {
  height: 306px; }
  @media (max-width: 991px) {
    .event-img {
      height: auto; } }

.event-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.event-content {
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: 1000;
  color: white;
  pointer-events: none;
  width: calc(100% - 30px);
  padding: 0 5px;
  font-size: 24px;
  height: 100%;
  bottom: 0;
  top: 0;
  margin: auto;
  text-align: center; }
  .event-content p {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 200px; }
    @media screen and (max-width: 568px) {
      .event-content p {
        font-size: 14px; } }
  @media screen and (max-width: 320px) {
    .event-content {
      font-size: 10px; } }

.portfolio-content {
  background-color: #FFFFFF;
  height: 500px;
  margin-bottom: 10px; }
  .portfolio-content i {
    margin-right: 10px; }

.portfolio-description {
  padding: 30px 25px; }

.slide-wrap {
  max-width: 960px;
  position: relative;
  height: 750px; }

.card {
  position: absolute;
  border: 1px solid gray;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 0;
  margin-left: -200px; }
  @media (min-width: 320px) {
    .card {
      width: 300px;
      height: 550px;
      top: 100px;
      left: 57.5%; } }
  @media (min-width: 768px) {
    .card {
      width: 300px;
      height: 550px;
      top: 100px;
      left: 55%; } }
  @media (min-width: 992px) {
    .card {
      width: 500px;
      height: 500px;
      top: 100px;
      left: 45%;
      -webkit-transform: translateY(80%);
          -ms-transform: translateY(80%);
              transform: translateY(80%); } }

#slide1 {
  -webkit-transform: translateX(0px) scale(1.2);
      -ms-transform: translateX(0px) scale(1.2);
          transform: translateX(0px) scale(1.2);
  z-index: 99; }

#slide2 {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9; }

#slide3 {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 9; }

#slide4 {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  z-index: 9; }

#slide5 {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  z-index: 9; }

.btn {
  z-index: 9999;
  height: 30px;
  font-size: 50px;
  color: gray;
  text-align: center;
  line-height: 15px;
  position: absolute; }
  .btn:hover {
    cursor: pointer; }

.pre {
  top: 300px;
  left: 0px; }

.nex {
  top: 300px;
  right: 0px; }

.card-img {
  height: 500px; }
  @media (max-width: 568px) {
    .card-img {
      height: 250px; } }
  .card-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.card-content {
  background-color: #ffffff;
  padding: 20px;
  font-size: 20px; }
  .card-content h3 {
    color: #0487cc;
    margin-bottom: 1rem; }
  .card-content i {
    margin-bottom: 0.5rem; }

.footer {
  text-align: center; }

.animated {
  opacity: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px); }

.fadeIn {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); }

.chart-container {
  position: relative;
  margin: auto;
  min-height: 100%;
  min-width: 100%; }

/*# sourceMappingURL=all.css.map */
