<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title MyResume
        link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.1.0/css/all.css', integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt', crossorigin='anonymous')
        link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
        link(rel="stylesheet", href="css/all.css")
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
        script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        script(src="js/all.js")

    body
        .scroll-top
            i.fas.fa-arrow-up
    .nav.sticky-top
        ul.menu.mx-auto
            li.about
                a(href="#about" class='nav-active') ABOUT
            li.skill
                a(href="#skill") SKILL
            li.experience
                a(href="#experience") EXPERIENCE
            li.event
                a(href="#event") EVENT
            li.portfolio
                a(href="#portfolio") PORTFOLIO
        a.text-white(href='#' class="showmenu ") menu
    .container
        section#about
            .profile
                .row
                    .col-md-4
                        #personal-photo.mb-3
                            img(src="img/profile-photo.jpg", alt="")
                        #scoial
                            ul.social-link
                                li.mr-3
                                    a(href="https://www.facebook.com/supyouguy" alt='facebook' target="_blank")
                                        i.fab.fa-facebook-square.fa-2x
                                li.mr-3
                                    a(href="https://github.com/g6165310" alt='github' target="_blank")
                                        i.fab.fa-github.fa-2x
                                li.mr-3
                                    a(href="https://codepen.io/collection/AKEaPo" alt="codepen" target="_blank")
                                        i.fab.fa-codepen.fa-2x
                                li
                                    a(href="https://medium.com/@g6165310" alt='medium' target="_blank")
                                        i.fab.fa-medium.fa-2x
                    #info.col-md-8
                        div#info-name
                            h2.mb-1 何宗益 Gary
                            span.mb-4 目前正積極精進前端開發的能力，期望能成為一位能獨當一面的前端工程師
                        p 在大學期間首次接觸到前端的語言，包括 HTML、CSS、JavaScript 等，發覺前端真的很有趣，應用的範圍也很廣泛，可以寫網頁、應用程式、遊戲等，甚至最近很紅的區塊鏈也能透過前端來開發。目前正透過自我學習的方式來加強自己在前端開發的能力，並期許自己將來能夠成為解決各式問題的前端工程師。
                        .row
                            .col-6
                                ul.info-list
                                    li
                                        span.info-list-title Education
                                        span.info-list-detail 國立高雄大學
                                    li
                                        span.info-list-title Address
                                        span.info-list-detail 台灣 台南市
                            .col-6
                                ul.info-list
                                    li
                                        span.info-list-title phone
                                        span.info-list-detail +886 -975-118-030
                                    li
                                        span.info-list-title Mail
                                        span.info-list-detail g6165310@gmail.com
        section#skill.animated
            .section-header
                h2 SKILL
            .row
                .col-md-5.mb-5
                    #professional-skills
                        .skills-title
                            h3 PROFESSIONAL SKILLS
                        .skills-content
                            .skills-content.top.row
                                .col-6 
                                    span 前端
                                .col-6 
                                    span 後端
                            .skills-content.bottom.row
                                .col-6
                                    span React
                                    span Vue
                                    span JavaScript
                                    span HTML
                                    span CSS
                                .col-6
                                    span Java
                                    span PHP
                                    span Python
                .col-md-7
                    #additional-skills
                        .skills-title
                            h3 ADDITIONAL SKILLS
                        .skills-content
                            .skills-content.top.row
                                .col-4 
                                    span Language
                                .col-4 
                                    span Tool
                                .col-4 
                                    span Other
                            .skills-content.bottom.row
                                .col-4 
                                    span 中文
                                    span TOEIC 765
                                .col-4
                                    span Facebook AD
                                    span Google Analytics
                                    span Google AdWords
                                    span Photoshop
                                .col-4
                                    span gulp
        section#experience.animated
            .section-header
                h2 EXPERIENCE
            .row
                .col-lg-10.offset-lg-2
                    span.experience-icon
                        i.fas.fa-code.fa-1x
                    ul.experience-list
                        li.experience-item
                            span.experience-period 08 2017 - 07 2018
                            h3 數位行銷
                            h5 小草作,草系生活有限公司
                            p 在草系生活有限公司，規劃 Facebook、Google 關鍵字廣告，與工程師討論並規劃官網前後台需求以及官網 SEO 優化。目前共11組關鍵字的 SEO 頁面出現在搜尋結果第一頁。
                        li.experience-item
                            span.experience-period 02 2017 - 05 2018
                            h3 程式設計實習生
                            h5 國泰產險
                            p 撰寫以 JAVA 為主並搭配 MVC 架構的內部系統網頁、JAVA 批次程式撰寫。根據 Test Case 進行國泰車險 APP 的內部功能測試，完成測試報告以及 UX 建議報告。
                        li.experience-item
                            span.experience-period 10 2015 - 12 2016
                            h3 程式開發
                            h5 產學合作案
                            p 使用 Android Studio 開發一款益智問答遊戲為主軸的交友軟體。透過使用者需求訪談開始，到系統架構的分析，循序漸進地開發完成，並達到公司的合作目標。
        section#event.animated
            .section-header
                h2 EVENT
            .row
                .col-lg-6
                    .event-img
                        img(src="img/event-1.jpg", alt="")
                    .event-content
                        p 由於C語言是大學所學的第一門程式課程，為了打好程式基礎，與幾位同學一起創建C語言教室，主要為輔導與解惑學弟妹在C語言課業上遇到的困難。從活動中擔任小老師的身份，不僅讓自己有更多的學習機會，更能審視自己過去所學並融會貫通。
                .col-lg-6
                    .event-img
                        img(src="img/event-2.jpg", alt="")
                    .event-content
                        p 藉由營隊一系列活動以及課程，讓高中生更了解資訊管理學系在學些什麼。過程中，不僅提出活動以及課程企劃，更要利用各種行銷管道進行招生，藉此完成這項活動。身為總召，面對數個部門的不同狀況和壓力，讓我學習到如何扮演好一個領導人的腳色，也讓自己有更多的機會學習如何統整、運用來自四方八方的訊息，並協調各部門的工作以及人力，讓活動的品質更好。
        section#portfolio.mb-2.animated.mb-5
            .section-header
                h2 PORTFOLIO
            .section-slider

                div
                    .card-img
                        img(src="img/slide-8.png", alt="JS 挑戰")
                    .card-content
                        h3 JS 挑戰
                        p 為了增進自我的 JS 能力，參加了六角學院社群推出 JS 地下城挑戰以及 THE F2E 2nd，根據不同的主題以及指定的任務，藉此訓練不同面向的能力。
                        a.mr-2(href='https://g6165310.github.io/hotel-reservation/' target='_blank') 旅館預約服務
                        a.mr-2(href='https://g6165310.github.io/90sGame/' target='_blank') 90秒挑戰遊戲
                        a.mr-2(href='https://g6165310.github.io/canvasPainter/' target='_blank') 畫板
                        P (可以前往 github 或 codepen 看更多)
                            
                        .bage-container.mt-3
                            span.badge.badge-info.mr-1 native JS
                            span.badge.badge-info.mr-1 Canvas
                            span.badge.badge-info.mr-1 Vue
                            span.badge.badge-info.mr-1 後端api串接
                            span.badge.badge-info.mr-1 Chrome 擴充
                div
                    .card-img
                        img(src="img/slide-7.png", alt="OldCool電商網站")
                    .card-content
                        h3 電商概念網站模擬
                        i.far.fa-clock 
                            span.ml-1 2019/04
                        p 使用 Vue + Vuex 模擬一個電商網站前端的購買流程以及後台的產品上架，並練習串接後端 API 來達成訂單的建立以及商品的建立與更新。
                        p (登入後台帳號: g6165310@gmail.com 密碼: gap152)
                        a(href='https://g6165310.github.io/OldCool/' target='_blank') OldCool
                        .bage-container.mt-3
                            span.badge.badge-info.mr-1 Vue
                            span.badge.badge-info.mr-1 後端api串接
                div
                    .card-img
                        img(src="img/slide-6.png", alt="Mini TV")
                    .card-content
                        h3 Mini TV
                        i.far.fa-clock 
                            span.ml-1 2018/09 - 2018/10
                        p 使用 react 框架搭配 Firebase 實作由 Server Side Rendering 的影音平台，分為前台以及後台影片上架的功能，且透過 redux 進行資料狀態的管理。
                        a(href='https://fast-lowlands-98320.herokuapp.com/' target='_blank') Mini TV
                        .bage-container.mt-3
                            span.badge.badge-info.mr-1 React
                            span.badge.badge-info.mr-1 Firebase
                            span.badge.badge-info.mr-1 Webpack
                div
                    .card-img
                        img(src="img/slide-5.png", alt="獨立音樂資訊")
                    .card-content
                        h3 獨立音樂資訊
                        i.far.fa-clock 
                            span.ml-1 2018/08
                        p 結合政府 OpenData 以及 GoogleMap API，建立一個以 Vue.js 開發的獨立音樂演出的資訊平台，並利用 localStorage 實作加入最愛的功能。
                        a(href='https://g6165310.github.io/MusicOpenApi/' target='_blank') 獨立音樂資訊網站
                        .bage-container.mt-3
                            span.badge.badge-info.mr-1 Vue
                            span.badge.badge-info.mr-1 Bootstrap
                            span.badge.badge-info.mr-1 OpenData
                            span.badge.badge-info.mr-1 GoogleMap API
                            span.badge.badge-info.mr-1 localStorage
                div 
                    .card-img
                        img(src="img/slide-4.png", alt="")
                    .card-content
                        h3 切版練習
                        i.far.fa-clock 
                            span.ml-1 2018/03 - 2018/4
                        p 利用線上課程來加強自己在前端的基礎能力，並透過所學實作基本的網頁切版以及響應式功能
                        a.mr-2(href='https://g6165310.github.io/RWD_practice/' target='_blank') 切版練習1
                        a(href='https://g6165310.github.io/Bootstrap_practice/index2' target='_blank') 切版練習2
                        .bage-container.mt-3
                            span.badge.badge-info.mr-1 HTML
                            span.badge.badge-info.mr-1 CSS/SCSS
                            span.badge.badge-info.mr-1 Bootstrap
                            span.badge.badge-info.mr-1 RWD
                div 
                    .card-img
                        img(src="img/slide-3.png", alt="")
                    .card-content
                        h3 Snapost
                        i.far.fa-clock 
                            span.ml-1 2016/10 - 2017/01
                        p 利用 JavaScript 和 Firebase 建立起一個模仿 IG 的社交網站，利用 Facebook API 驗證使用者的登入，並模擬廣告主投放廣告的實作，同時利用 D3.js 生成相關成效報表等。
                        .bage-container.mt-2
                            span.badge.badge-info.mr-1 HTML
                            span.badge.badge-info.mr-1 CSS
                            span.badge.badge-info.mr-1 JavaScript
                            span.badge.badge-info.mr-1 D3.js
                div 
                    .card-img
                        img(src="img/slide-2.png", alt="")
                    .card-content
                        h3 趣活動
                        i.far.fa-clock 
                            span.ml-1 2016/03 - 2016/06
                        p 利用文化部提供的開放資料，結合 Google Map API呈現在地圖上，同時也連結了 Google Calendar 讓使用者可以一鍵記錄到個人的日曆當中。
                        .bage-container.mt-2
                            span.badge.badge-info.mr-1 HTML
                            span.badge.badge-info.mr-1 CSS/SCSS
                            span.badge.badge-info.mr-1 JavaScript
                            span.badge.badge-info.mr-1 JSON資料處理
                div
                    .card-img
                        img(src="img/slide-1.png", alt="")
                    .card-content
                        h3 產學合作-TagKnowledge
                        i.far.fa-clock 
                            span.ml-1 2015/05 - 2016/12
                        p 畢業專題因為是產學合作，因此與合雅行銷公司有了一年的合作機會，我們開發了一款透過遊戲來交友的 Android App，負責前端的介面、功能撰寫。
                        .bage-container.mt-2
                            span.badge.badge-info.mr-1 Android開發
        .footer.mb-3
            p Copyright © 2018 何宗益 All rights reserved
